NEXT_PUBLIC_SUPABASE_URL=https://yergergervsdf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzIsdbsI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiIsdfgsdfgOjE3MzgwODg2NDMsImsefgsdfvsadrgsetrg9hDdRk
NEXT_PUBLIC_API_URL=http://localhost:3000
PINATA_API_KEY=ervdfvsetgsdrfvserg
PINATA_API_SECRET=sertvbsdfvaetghafvasdfgsetrgsdtrg
JWT_PINATA=sbsfvsrv.etbsbsdbjsdfvnjisenvkajnrv.B-sdbsdfvzdvaABADFB